html{font-size: 62.5%;}
.wrap{width: 100%;}
.fx{display: flex;}
.inner{width: 90%; max-width: 1400px; margin: auto; height: inherit; background: rgba(255,255,255,.5);}
.w100{overflow: hidden; background: var(--background); width: 100; height: 0; transition: all .5s; position: absolute; top: 50px; left: 0;}


nav{position: relative; height: 50px; background: var(--background);}
.gnb{display: flex;}
.gnb li{flex-basis: 25%;}
.gnb a{display: block; padding: 1rem; color: var(--text2);}
.depth2{display: flex; flex-flow: row wrap;}
.depth2 a {opacity: 0; transition: all .5s;}
/* .spotmenu{margin-top: 9.8rem; padding: 1.1rem 2.5rem;} */
.button>a{display: flex; padding: 7px 24px; border-radius: 20px; margin-right: 32px; background: var(--text2); font-size: 16rem;}


/* banner */
/* .banner{height: 1703px; background: #ee9337;}
.radius{position: relative; }
.video{width: 300px; height: 300px; border-radius: 50%; background: #b3b3b0;display: flex; flex-direction: column; } */

main{height: 3500px;}
section .s1{display: flex; flex-direction: row;}
section:nth-child(2){height: 200px; background: #f4faa4;}
section:nth-child(3){height: 500px; background: #e2ee37;}
section:nth-child(4){height: 1000px; background: #f4faa4;}
footer{height: 580px; background: #f6b0ab;}
.footer_nav{height: 290px; background: #f5938c;}
.footer_info{height: 290px; background: #f55f55;}

.popup h2{position: fixed; width: 50rem; height: 30rem; background: var(--background); color: #ee9337; font-size: 1rem; top: 50%; left: 35%;}

/* hover */
.gnb>li:hover .w100{height: auto; overflow: visible;}
.gnb>li:hover .w100 a{opacity: 1;}
