html{font-size: 62.5%;}
.wrap{width: 100%;}
.fx{display: flex;}





.popup h2{position: fixed; width: 50rem; height: 30rem; background: var(--background); color: #ee9337; font-size: 1rem; top: 50%; left: 35%;}

/* hover */
.gnb>li:hover .w100{height: auto; overflow: visible;}
.gnb>li:hover .w100 a{opacity: 1;}
